.wrapper {
  padding: 4em 0;
  background: linear-gradient(165deg, #e7f4ff 7%, #fff2df 74%);
}

.flex {
  display: flex;
  box-shadow: 0 20px 60px 0 #f8f9ff;
  gap: 20px;
}

.form {
  background-color: white;
  box-shadow: 0 20px 38px 0 hsl(0deg 0% 86% / 50%);
  padding: 2.5em;
  border-radius: 20px;
  width: 75%;
  font-family: var(--font-body);
}

.personalGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px 24px;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formField.fullWidth {
  grid-column: span 2;
}

.formField label {
  margin-bottom: 6px;
  font-weight: 600;
}

.formField input,
.formSection select {
  background: #ffffff;
  border: 1px solid rgb(133 140 148 / 50%);
  border-radius: 8px;
  padding: 18px;
  width: 100%;
  outline-color: rgb(133 140 148 / 60%);
  line-height: 22px;
}

.errorText {
  color: red;
  font-size: 13px;
  padding-top: 2px;
}

.formSection:nth-child(even) {
  padding: 38px 0;
}

.formSection.radioSection .radioGroup {
  display: flex;
  align-items: center;
  column-gap: 2em;
  padding-top: 18px;
}

.radioGroup label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  column-gap: 6px;
  color: #67728a;
  font-weight: 600;
}

.radioLabel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #5f6783;
  user-select: none;
}

.radioLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #eee;
  transition: all 0.3s ease;
}

.checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5a657c;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.radioLabel input:checked ~ .checkmark::after {
  background-color: white;
}

.radioLabel input:checked ~ .checkmark {
  background-color: #0059c8 !important;
  box-shadow: 0 0 0 3px #98cbff;
}

.radioLabel input:checked ~ .checkmark {
  background: #dfe3ff;
}

.selectLabel {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.radioGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.submitBtn {
  font-family: var(--font-heading);
  outline: none;
  border: none;
  padding: 15px 2.5em;
  border-radius: 10px;
  background: linear-gradient(270.04deg, #ff3185 33.28%, #ff8ebc 99.98%);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 3em;
}

.selectWrap {
  position: relative;
}

.selectWrap select {
  appearance: none;
}

.selectIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #9ca3af;
  font-size: 32px;
}

.infoCard {
  background: url(/calculator/linear-blue-bg.webp);
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 3em 2.5em;
  text-align: center;
  justify-content: space-between;
  width: 35%;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.list {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 16px;
}

.list p {
  text-align: left;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9990;
}

.modalBox{
    position: relative;
}

.modal {
  max-width: 563px;
  width: 100%;
  background: white;
  border-radius: 32px;
  padding: 3em;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
}

.modalOverlay .bad h3 {
  color: #e60000;
}

.modalOverlay .average h3 {
  color: #f58120;
}

.modalOverlay .good h3 {
  color: #0ca222;
}

.modalOverlay img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.modalOverlay .good img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

.modalOverlay .average img {
  display: none;
}

.modalOverlay .bad img {
  display: none;
}

.modal .button {
  font-weight: 600;
  border-radius: 8px;
  padding: 0.75em 2em;
}

.disclaimer{
    background: #F4FAFF;
    border: 1px solid #B4DDFF;
    border-radius: 6px;
    display: flex;
    padding: 10px 12px;
    column-gap: 0.8em;
    margin-top: 2.5em;
}

.disclaimer p {
    margin: 0;
    color: #373737;
    line-height: normal;
    text-align: left;
}

@media (max-width: 768px) {
  .personalGrid {
    grid-template-columns: 1fr;
  }
}
